---
layout: default
---
{% include header.html %}
<section id="docs">
  <div class="wrapper">
    <aside class="sidebar">
      <nav>
        {% assign docs = site.docs | sort: 'order' %}
        {% for doc in docs %}
          <a href="{{ doc.url }}">{{ doc.title }}</a>
          {% for section in doc.sections %}
            <a href="{{ doc.url }}#{{ section.url }}" class='sub'>{{ section.name }}</a>
          {% endfor %}
        {% endfor %}
      </nav>
    </aside><article class='doc'>
      {{ content }}
    </article>
  </div>
</section>
